<style>

  *{
     color:white ;
  }



</style>

{%  extends "index.html" %}

{% block content%}
  <h2 align="center" style="font-weight:bold; padding:10px" >{{student_name}}</h2>

  {% if detection is True %}
<h4 align="center"><span style="font-weight:bold">Contact No. : </span>{{phone}}</h4>
    <h4 align="center"><span style="font-weight:bold">Roll No. : </span>{{roll_no}}</h4>
    <h4 align="center"><span style="font-weight:bold">Year : </span>{{year}}</h4>
    <h4 align="center"><span style="font-weight:bold">Domain : </span>{{domain}}</h4>
  {% endif %}

    {% if detection is False %}
      <h1 align="center">Data not found</h1>
  {% endif %}

    <div align="center">
              <a href="/"> <button id = "goback" type="button" class="btn btn-success" onclick="" style="font-size:20px">Back</button>
            </a>
    </div>


<!--    <h1 align="center">Your data</h1>-->
{% endblock content %}